@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap);

/*Base*/
/***  Bootstrap-overwrite.css ***/
.btn-primary {
  background-color: #4db3de;
  border-color: #4db3de;
  padding-left: 1em;
  padding-right: 1em; }
.btn-primary:hover {
  background-color: #204296;
  border-color: #204296; }
/*** variables.scss ***/
/*Colors*/
/*Fonts*/
/***  globle.scss ***/
* {
  font-family: 'Source Sans Pro', sans-serif; }
html {
  font-size: 16px; }
a:hover {
  text-decoration: none; }
/*Components*/
/***  accordion.css ***/
/** https://codepen.io/raubaca/pen/PZzpVe **/
/* Accordion styles */
#accordion input {
  position: absolute;
  opacity: 0;
  z-index: -1; }
#accordion .tabs {
  border-radius: 0.5em;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5); }
#accordion .tab {
  width: 100%;
  color: #fefefe;
  overflow: hidden; }
#accordion .tab-label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    margin-bottom: 0;
    background: #2f9ac7;
    font-weight: bold;
    cursor: pointer;
    /* Icon */ }
#accordion .tab-label:hover {
      background: #206481; }
#accordion .tab-label::after {
      content: "\276F";
      width: 1em;
      height: 1em;
      text-align: center;
      transition: all .35s; }
#accordion .tab-content {
    max-height: 0;
    padding: 0 1em;
    background: white;
    transition: all .35s; }
#accordion .tab-close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: #206481;
    cursor: pointer; }
#accordion .tab-close:hover {
      background: #164458; }
#accordion input:checked + .tab-label {
  background: #206481; }
#accordion input:checked + .tab-label::after {
    transform: rotate(90deg); }
#accordion input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
  color: #000; }
/*Sections*/
/*** Header ***/
header {
  padding-top: 1.25em;
  padding-bottom: 0.5em;
  background-color: #edebeb;
  position: relative;
  z-index: 3; }
header a {
    color: #000; }
/*** Menu ***/
nav {
  background-color: #204296; }
nav #topNav li {
    list-style: none; }
@media (min-width: 768px) {
    nav {
      color: #204296;
      background-color: #edebeb;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      font-size: 1.25em;
      font-weight: 700;
      -webkit-filter: drop-shadow(0 0 0.5em #111);
              filter: drop-shadow(0 0 0.5em #111);
      z-index: 1;
      position: relative; }
      nav a {
        color: #204296; }
      nav a:hover {
        color: #4db3de; }
      nav ul {
        margin: 0;
        float: right; }
      nav li {
        list-style: none;
        float: left;
        padding-left: 0.5em;
        padding-right: 0.5em;
        border-left: 1px solid #818182; }
      nav li:first-child {
        border-left: none; } }
#topNav .dropdown-nav {
  position: relative;
  display: inline-block; }
#topNav .dropdown-content {
  display: none;
  position: absolute;
  background-color: #edebeb;
  z-index: 2;
  font-size: 1em;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.25em;
  border-left: 1px solid #818182;
  border-bottom: 1px solid #818182;
  left: -1px; }
#topNav .dropdown-content a {
  text-decoration: none;
  display: block; }
#topNav .dropdown-content a:hover {
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-left: -0.5em;
  margin-right: -0.5em; }
#topNav .dropdown-nav:hover .dropdown-content {
  display: block; }
/*** Page Body ***/
#pageBackground {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 550px;
  width: 100%;
  display: block;
  z-index: -99;
  position: absolute; }
.page-body {
  padding-top: 15em;
  padding-bottom: 5em; }
.page-wrap {
  background-color: #edebeb;
  padding-right: 0;
  padding-left: 0;
  padding-top: 1em;
  padding-bottom: 4em;
  border: 0.1em solid #9ca5bc;
  border-radius: 1em;
  -webkit-filter: drop-shadow(0 0 0.25em #818182);
          filter: drop-shadow(0 0 0.25em #818182); }
/*** Footer ***/
footer {
  color: #fefefe;
  background-color: #204296;
  font-size: 0.8em;
  line-height: 1.1em;
  border-top: 0.25em solid #4db3de;
  padding-top: 1.5em;
  padding-bottom: 1.5em; }
footer a {
    color: #fefefe; }
footer a:hover {
    color: #edebeb; }
footer ul {
    padding: 0; }
footer li {
    list-style: none;
    display: inline-block;
    padding-left: 0.5em;
    padding-right: 0.5em; }
footer #footerNav {
    text-align: center; }
footer #social-links img {
    width: 3.5em;
    height: 3.5em; }
/*Pages*/
/*** Index Page ***/
.index-page-background {
  background-image: url("/img/index-hero.jpg");
  min-height: 50em;
  background-position: center center !important; }
#indexpage .hero {
  min-height: 40em; }
#indexpage .hero h1 {
    color: #204296;
    font-weight: 700; }
#indexpage .hero h2 {
    color: #204296; }
#indexpage .header-text {
  margin-top: 6em; }
#indexpage .index-background {
  background-color: #edf7f4; }
#indexpage .apply-area {
  margin-top: 2em;
  padding-bottom: 1em;
  background-color: #fff; }
#indexpage .apply-area h2 {
    color: #fefefe;
    font-size: 1.75em;
    line-height: 1em;
    text-align: center;
    background: #3db54a;
    padding-top: 1em;
    padding-bottom: 1em; }
#indexpage .apply-area label {
    color: #204296;
    font-family: "Source Sans Pro";
    font-weight: 700;
    font-size: 1em; }
#indexpage .apply-area .form-group {
    margin-left: 1em;
    margin-right: 1em; }
#indexpage .apply-area .privacy {
    text-align: center; }
#indexpage .apply-area .privacy a {
      text-decoration: underline; }
#indexpage .apply-area .privacy a:hover {
      text-decoration: none; }
#indexpage .overly-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -2em; }
#indexpage .overly-bottom span {
    display: block;
    background-color: transparent;
    width: 100%;
    height: 3.5em;
    position: relative; }
#indexpage .overly-bottom span:first-of-type:after {
    display: block;
    position: absolute;
    top: 0;
    content: "";
    border-right: 14em solid #3db54a;
    border-bottom: 2em solid #fff; }
#indexpage .overly-bottom span:last-of-type:before {
    display: block;
    position: absolute;
    top: 0;
    content: "";
    border-left: 13.95em solid #3db54a;
    border-bottom: 2em solid #fff; }
#indexpage .overly-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -2em; }
#indexpage .overly-top span {
    display: block;
    background-color: #edf7f4;
    width: 100%;
    height: 1.5em;
    position: relative; }
#indexpage .overly-top span:first-of-type {
    margin-right: 1.5em; }
#indexpage .overly-top span:first-of-type:after {
    display: block;
    position: absolute;
    top: 0;
    right: -1.5em;
    content: "";
    border-left: 1.5em solid transparent;
    border-right: 1.5em solid transparent;
    border-bottom: 1.5em solid #edf7f4; }
#indexpage .overly-top span:last-of-type {
    margin-left: 1.5em; }
#indexpage .overly-top span:last-of-type:before {
    display: block;
    position: absolute;
    top: 0;
    left: -1.5em;
    content: "";
    border-left: 1.5em solid transparent;
    border-right: 1.5em solid transparent;
    border-bottom: 1.5em solid #edf7f4; }
#indexpage .why-choose {
  padding-top: 2em;
  text-align: center; }
#indexpage .why-choose h2 {
    font-weight: 600; }
#indexpage .why-choose p {
    font-size: 1.25em;
    line-height: 1.25em; }
#indexpage .three-steps {
  text-align: center;
  margin-bottom: 2em; }
#indexpage .three-steps h3 {
    color: #3db54a;
    margin-top: 0.5em;
    margin-bottom: 0em; }
#indexpage .three-steps h4 {
    color: #204296;
    font-size: 1.25em;
    font-weight: 700; }
#indexpage .three-steps .step-box {
    background-color: #fff;
    padding: 1em 0;
    margin: 2em 1em; }
#indexpage .three-steps .green-cirle {
    color: #fefefe;
    background-color: #3db54a;
    border-radius: 50%;
    height: 2em;
    width: 2em;
    display: block;
    padding-top: 0.25em;
    font-size: 1.25em;
    font-weight: 600;
    margin: 1em auto 0.5em; }
#indexpage .slf-benefits {
  background-image: url("/img/benefits-bg.jpg");
  background-repeat: no-repeat;
  background-position: top right;
  background-color: #fff;
  padding-top: 2em;
  padding-bottom: 2em; }
#indexpage .slf-benefits h2 {
    color: #000;
    font-size: 2em;
    font-weight: 700;
    margin: 1em 0; }
#indexpage .slf-benefits p {
    margin-left: 3em; }
#indexpage .slf-benefits a {
    text-decoration: underline; }
#indexpage .slf-benefits a:hover {
    text-decoration: none; }
#indexpage #faq {
  margin: 1em 0; }
#indexpage .need-cash {
  background-image: url("/img/cash-bg.jpg");
  text-align: center;
  color: #fefefe;
  padding-top: 3em;
  padding-bottom: 3em; }
#indexpage .need-cash h2 {
    font-size: 3em;
    font-weight: 600; }
#indexpage .need-cash h3 {
    font-size: 1.75em;
    font-weight: 600;
    margin-bottom: 1em; }
#indexpage .need-cash .btn-light {
    padding-left: 2em;
    padding-right: 2em;
    color: #4db3de;
    font-weight: 700; }
/*** 404 Page ***/
.error-page-background {
  background-image: url("/img/404-error-hero.jpg"); }
#error404page {
  text-align: center; }
#error404page h1 {
    font-size: 6em;
    font-weight: 700;
    color: #3db54a; }
#error404page h2 {
    font-size: 3em;
    color: #000;
    font-weight: 600; }
#error404page a {
    text-decoration: underline;
    font-size: 1.25em; }
#error404page a:hover {
    text-decoration: none; }
#error404page li {
    list-style: none; }
/*** About Page ***/
.about-background {
  background-image: url("/img/about-hero.jpg"); }
#about h1 {
  font-size: 2.5em;
  font-weight: 700; }
#about h2 {
  font-size: 1.5em;
  color: #4db3de;
  font-weight: 600; }
#about h3 {
  font-size: 1.25em;
  font-weight: 700;
  background-color: #204296;
  color: #fefefe;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em; }
#about .why-choose {
  margin-top: 2em;
  margin-bottom: 1em; }
#about .decision-steps {
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
  font-size: 0.75em; }
#about .apply {
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center; }
/*** Apply Page ***/
#apply {
  margin-top: 2em; }
#apply h1 {
    font-size: 2.5em;
    font-weight: 700;
    color: #000;
    font-family: "Source Sans Pro Semibold";
    margin-bottom: 1em; }
#apply h2 {
    font-size: 1.5em;
    font-weight: 600;
    color: #000;
    font-family: "Source Sans Pro Semibold";
    margin-top: 2em; }
#apply h3 {
    font-size: 0.9em;
    color: #3db54a;
    line-height: 0.75; }
#apply label {
    color: #204296;
    font-family: "Source Sans Pro";
    font-weight: 700;
    font-size: 1em;
    margin-top: 1em; }
#apply .apply-button-area {
    text-align: center;
    background-color: #edebeb;
    padding-top: 2em;
    padding-bottom: 2em;
    margin-top: 4em; }
.progress-area {
  margin-bottom: 1em;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
.step1, .step2, .step3 {
  width: 100%;
  padding: 0.5em 0;
  background-color: #edebeb; }
.step1 {
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
  -webkit-clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
  background-position-x: left 1em; }
.step2 {
  -webkit-clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%, 5% 50%);
          clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%, 5% 50%);
  background-position-x: left 2em; }
.step3 {
  border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0px 100%, 5% 50%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0px 100%, 5% 50%); }
.active {
  color: #fefefe;
  background-color: #4db3de; }
.complete {
  background-image: url("/img/check_circle-white-24dp.svg");
  background-repeat: no-repeat;
  background-size: 2em;
  background-position-y: center; }
#applyDisclosureStatement {
  height: 15em;
  overflow-y: scroll;
  font-size: 0.75em;
  border-style: solid;
  border-color: #818182;
  border-width: 1px;
  padding: 2em;
  margin-top: 1em;
  margin-bottom: 2em; }
#disclosureConfirm label {
  color: #000;
  font-weight: 500; }
/*** Consumer Disclosures ***/
#consumerDisclosures {
  background-image: url("/img/consumer-disclosures-hero.jpg"); }
/*** Count Us Page ***/
.contact-us-background {
  background-image: url("/img/contact-us-hero.jpg"); }
#contactUs {
  font-size: 1.25em;
  line-height: 1.25em; }
#contactUs h1 {
    font-size: 2.5em;
    font-weight: 700;
    text-align: center;
    margin-top: 0.5em; }
#contactUs h2 {
    font-size: 1.5em;
    color: #fefefe;
    font-weight: 600;
    margin-top: 0.5em;
    margin-bottom: 0.25em; }
#contactUs .contact-us {
    background-color: #edebeb;
    padding-right: 0;
    padding-left: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    border: 0.1em solid #9ca5bc;
    border-radius: 1em;
    -webkit-filter: drop-shadow(0 0 0.25em #818182);
            filter: drop-shadow(0 0 0.25em #818182); }
#contactUs .contact-options {
    margin-top: 2em;
    margin-bottom: 2em; }
#contactUs .contact-options img {
      float: left;
      padding-right: 1em; }
#contactUs .contact-options h3 {
      font-size: 1em;
      font-weight: 700;
      margin-bottom: 0;
      margin-top: 0.25em; }
#contactUs .contact-options address {
      font-size: 0.75em; }
#contactUs .contact-options p {
      font-size: 0.75em; }
#contactUs .contact-options a {
      color: #000; }
#contactUs form {
    margin-top: 2em;
    margin-bottom: 1em; }
#contactUs .email-us {
    background-color: #204296;
    color: #fefefe;
    font-size: 0.75em;
    line-height: 1em;
    text-align: center;
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0; }
#contactUs .submit-message {
    margin-top: 2em;
    text-align: center; }
/*** Loan Types ***/
#installmentLoans h1 {
  font-size: 2em;
  margin: 0.5em 0; }
#installmentLoans h2 {
  font-size: 1.75em;
  margin: 0.5em 0; }
.installment-loans-background {
  background-image: url("/img/installment-loans-hero.jpg"); }
#registrationLoans h1 {
  font-size: 2em;
  margin: 0.5em 0; }
#registrationLoans h2 {
  font-size: 1.75em;
  margin: 0.5em 0; }
.registration-loans-background {
  background-image: url("/img/registration-loans-hero.jpg"); }
.line-of-credit-background {
  background-image: url("/img/line-of-credit-hero.jpg"); }
/*Helpers*/
/***  helpers.scss ***/
.clear-list-style li {
  list-style: disc outside none;
  list-style: initial;
  background: none;
  padding: 0;
  padding: initial;
  line-height: normal;
  line-height: initial;
  padding-left: 1em; }
.cirle-list-style ul {
  list-style: url("/img/check_circle-blue-24dp.svg"); }
.inactiveLink {
  pointer-events: none; }
.activeLink {
  pointer-events: auto;
  cursor: pointer; }
.date-field {
  background-image: url("/img/calendar_today-black-24dp.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: right 1em; }
.phone-field {
  background-image: url("/img/phone-black-24dp.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: right 1em; }
.field-hidden {
  background-image: url("/img/visibility_off-black-24dp.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: right 1em; }
.field-shown {
  background-image: url("/img/visibility-black-24dp.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: right 1em; }
.sflfont {
  color: #3db54a; }
.hide {
  display: none !important; }

